@font-face {
    font-family: "OpenSans-Regular";
    src: url(fonts/OpenSans-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "OpenSans-Light";
    src: url(fonts/OpenSans-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "Roboto-Regular";
    src: url(fonts/Roboto-Regular.ttf);
    font-weight: 400;
}

html {
    color: grey;
    font-family: "Roboto-Regular";
    background-color: rgb(255, 208, 0);
    background-size: auto 100%;
}

h1::first-letter {
    font-size: 150%;
}

h1 {
    color: maroon;
    font-family: "OpenSans-Regular";
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: -2px;
}

h2::first-letter {
    font-size: 150%;
}

h2 {
    color: maroon;
    font-family: "OpenSans-Regular";
    text-transform: uppercase;
    letter-spacing: -2px;

}

th {
    color: #28A745;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 24px;
    background-color: white;
}

a:link, a:visited {
    background-color: maroon;
    color: rgb(255, 208, 0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 33%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px 5px 5px 5px;
    font-weight: bold;
    font-size: 20px;
}

a:hover, a:active {
    background-color: rgb(255, 208, 0);
    color: maroon;
  }

table {
    width: 100%;
}

tr {
    height: 25px;
}

td {
    margin: 0px;
    border: 0px;
}

.container {
    width: 80%;
    background-color: white;
    margin: 0 auto;
    padding: 20px;
}

tr:nth-child(odd) {
    background-color: rgb(240, 226, 177);
}
tr:nth-child(even) {
    background-color: rgb(251, 237, 200);
}